/* GIF Background */

#video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

/* Responsive Web Design */

@media screen and (max-width: 800px) {
	.display-left,
	.display-middle,
	.display-right {
		width: 100%;
	}
}

/* TITLE IMAGE */

#abductAllHumans {
	width: 380px;
	height: 230px;
	align-content: center;
	justify-content: center;
	align-items: stretch;
}

/* Alien Click Response Animation */
#myCanvas:active {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* Purchase Upgrades Menu */
.display-right {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: stretch;
	padding-top: 25px;
}

/* Button Styling/Effects */

button {
	transition-duration: 0.4s;
	cursor: pointer;
}

button:hover {
	background-color: #bdfd46;
	box-shadow: 0px 0px 4px 4px rgb(90, 228, 159);
}

.btn-top {
	border-radius: 20px;
	border: solid 0.2px;
}

.btn-mid {
	border-radius: 20px;
	border: solid 0.2px;
}

button.btn-top.btn-icon-one.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

button.btn-mid.btn-icon-two.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-three.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-four.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-five.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-six.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-seven.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-eight.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-nine.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-bot.btn-icon-ten.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-bot {
	display: flex;
	justify-content: center;
	align-items: center;
}

.r-btn {
	width: 28vw;
	height: 7.5vh;
	background-color: #208642;
}

.col-5.a-l.text {
	text-align: center;
}

.col-5.a-m {
	text-align: center;
}

#portalCost {
	text-indent: 8px;
}

#colonizeCost {
	text-indent: 9px;
}

#harvestCost {
	text-indent: 14px;
}

#humanExtinctionCost {
	text-indent: 20px;
}

.title {
	font-weight: 600;
}

/* Data Return and Quotes Box */

.messages {
	height: 100px;
	border: 2px solid rgb(255, 255, 255);
}

#quote {
	font-size: 20px;
	text-align: center;
	color: white;
}

#quote-text {
	font-size: 15px;
	text-align: center;
	align-content: center;
	color: white;
}

p {
	text-align: center;
	color: white;
}

#score {
	color: white;
}

/* Active Effects */
