#myCanvas:active {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

.display-right {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: stretch;
}

r-btn {
	padding: 0;
	margin: 0;
	width: 30vw;
	height: 45vh;
	background-color: white;
}

.a-l {
	text-align: left;
	margin-right: 0;
	white-space: nowrap;
}

.a-m {
	text-align: left;
	margin-left: 0;
	white-space: nowrap;
}

.a-r {
	text-align: right;
	color: gray;
	padding-right: 0%;
	white-space: nowrap;
}

.title {
	font-weight: 600;
}
