@font-face {
	font-family: “squarefont”;
	src: url(“https://www.dafont.com/squarefont.font”);
}

/* GIF Background */

#video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

/* No Selector on click */
* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* TITLE IMAGE */

#abductAllHumans {
	width: 380px;
	height: 230px;
	margin-left: 80px;
	/* align-content: center;
	justify-content: center;
	align-items: stretch; */
}

/* Alien Click Response Animation */
#myCanvas:active {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* Purchase Upgrades Menu */
.display-right {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: stretch;
	padding-top: 30px;
	margin-left: 80px;
	font-family: squarefont;
	font-size: 16px;
}

/* Button Icons */

.row {
	flex-wrap: nowrap !important;
	padding-right: 106px;
}

.btn-icon-zero {
	background-image: url(./images/alien-head.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

.btn-icon-one {
	background-image: url(./images/abduction.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

.btn-icon-two {
	background-image: url(./images/drone.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

.btn-icon-three {
	background-image: url(./images/probing.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

.btn-icon-four {
	background-image: url(./images/ufo-and-cow.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

.btn-icon-five {
	background-image: url(./images/cloning.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

.btn-icon-six {
	background-image: url(./images/gene\ modification.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

.btn-icon-seven {
	background-image: url(./images/assimilation.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

.btn-icon-eight {
	background-image: url(./images/portal.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

.btn-icon-nine {
	background-image: url(./images/space-colonization.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

.btn-icon-ten {
	background-image: url(./images/harvest.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

.btn-icon-eleven {
	background-image: url(./images/human-extinction.svg);
	background-size: 8%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 4%;
}

/* Button Styling/Effects */

button {
	transition-duration: 0.4s;
	cursor: pointer;
}

button:focus {
	outline: 0 !important;
}

button:hover {
	background-color: #bdfd46;
	box-shadow: 0px 0px 4px 4px rgb(90, 228, 159);
}

.btn-top {
	border-radius: 20px;
	border: solid 0.2px;
}

.btn-mid {
	border-radius: 20px;
	border: solid 0.2px;
}

button.btn-top.btn-icon-zero.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

button.btn-top.btn-icon-one.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

button.btn-mid.btn-icon-two.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-three.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-four.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-five.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-six.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-seven.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-eight.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-mid.btn-icon-nine.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-bot.btn-icon-ten.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-bot.btn-icon-eleven.row.r-btn {
	flex-wrap: nowrap;
	padding-right: 25%;
}

.btn-bot {
	display: flex;
	justify-content: center;
	align-items: center;
}

.r-btn {
	width: 29vw;
	height: 7.5vh;
	background-color: #208642;
}

.col-5.a-l.text {
	text-align: center;
	align-content: center;
}

.col-5.a-m {
	text-align: center;
}

.col-5.a-r {
	text-align: center;
}

.title {
	font-weight: 600;
}
/* Data Return and Quotes Box */

.messages {
	margin-left: 20px;
	height: 140px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 50px;
}

#quote {
	font-size: 25px;
	text-align: center;
	color: white;
	font-family: squarefont;
}

#quote-text {
	font-size: 18px;
	text-align: center;
	align-content: center;
	color: white;
}

p {
	text-align: center;
	color: white;
	font-size: 25px;
	font-family: squarefont, "Trebuchet MS", "Lucida Sans Unicode",
		"Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#score {
	color: white;
	font-size: 25px;
	font-family: squarefont, "Trebuchet MS", "Lucida Sans Unicode",
		"Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Gameover Section */
#gameOverBox {
	width: 650px;
	height: 250px;
	margin: auto;
	border-radius: 50px;
	background-color: crimson;
	color: black;
	border: 5px solid black;
}

.gameover {
	width: 650px;
	height: auto;
	text-align: center;
	font-size: 90px;
}
/* Your Time Section */

.yourtime {
	text-align: center;
	font-size: 32px;
}
/* Restart Section */

.restart {
	width: 750px;
	height: auto;
	padding-top: 20px 0 0 0;
	font-size: 26px;
	text-align: center;
}

a {
	color: white;
}
